
#products {
	display: flex;
}

.products {
	flex: wrap;
	margin: auto;
	border: 2px dashed turquoise;
	width: 125px;
	height: 200px;
	text-align: center;
	padding: 10px;
}


/* Selector action*/
.border-red{
	color: magenta;
	border: 2px, solid, red;
}